* {
    margin: 0;
    padding: 0;
}

.form-container {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    padding: 10px;
    margin-top: 10px;
    width: max-content;
    z-index: 1000;

    border: 1px solid #ddd;
}

.form-input-data {
    width: 100%;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
}

.form-input-data *:not(.error) {
    margin-bottom: 5px;
}

.vehicle-price, .vehicle-type {
  display: block;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}

.vehicle-price-label, .vehicle-type-label {
  flex: 0 0 auto;
}

.vehicle-price-number, .vehicle-type-number {
  width: 150px;
  margin-left: 5px;
}

.vehicle-type {
    width: 100%;
}

.calculation-title {
    padding-bottom: 10px;
}

.calculation p {
  display: flex;
  justify-content: space-between;
  margin: 4px 0;
}

.calculation .label {
  text-align: left;
}

.calculation .value {
  text-align: right;
  min-width: 80px;
}


button[type="submit"] {
    display: block;
    width: 100%;
    margin: 0 auto;
}

.error {
  color: #FFA500;
  font-size: 0.9em;
  display: block;
  flex: 0 0 auto;
  margin-left: 8px;
  text-align: left;
}
